
* 
{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

    

#bouton ul 
{
    margin: 30px auto;
    text-align: center;
}

#bouton li 
{
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

    @-moz-keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(-360deg);}
    }

    @-webkit-keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(-360deg);}
    }

    @-o-keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(-360deg);}
    }

    @keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(-360deg);}
    }

.round 
{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 25px;      
    text-decoration: none;      
    text-align: center;
    font-size: 25px;
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;     
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

.round:hover, .round:active
{
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;      
    text-decoration: none;
    padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

a.red 
{
    background-color: rgba(133,32,28,.7);
    color: #fff;
    border-color: rgba(133,32,28,.2);
    cursor: pointer;
}

a.red:hover, .red:active
{
    color: rgba(133,32,28,.7);
}

a.green 
{
    background: rgba(0,63,71,.7);
    color: #fff;
    border-color: rgba(0,63,71,.2);
    cursor: pointer;
}

a.green:hover, .green:active
{
    color: rgba(0,63,71,.7);
}

a.yellow 
{
    background-color: rgba(161,145,0,.7);
    color: #fff;
    border-color: rgba(153,38,0,.2);
    cursor: pointer;
}

a.yellow:hover, .yellow:active 
{
    color: rgba(161,145,0,.7);
}

a.orange 
{
    background-color: rgba(233,101,25,.7);
    color: #fff;
    border-color: rgba(153,38,0,.2);
    cursor: pointer;
}

a.orange:hover, .orange:active 
{
    color: rgba(233,101,25,.7);
}

a.violet 
{
    background-color: rgba(84, 46, 90, 0.66);
    color: #fff;
    border-color: rgba(153,38,0,.2);
    cursor: pointer;
}

a.violet:hover, .violet:active 
{
    color: rgba(84, 46, 90, 0.66);
}

a.vert 
{
    background-color: rgba(8, 110, 25, 0.66);
    color: #fff;
    border-color: rgba(153,38,0,.2);
    cursor: pointer;
}

a.vert:hover, .vert:active 
{
    color: rgba(8, 110, 25, 0.66);
}

.round span.round 
{
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.round span:hover, .round span:active
{
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);  
}

.green span
{
    background: rgba(0,63,71,.7);       
}

.red span 
{
    background: rgba(133,32,28,.7);     
}

.yellow span 
{
    background: rgba(161,145,0,.7); 
}

.orange span 
{
    background: rgba(233,101,25,.7);     
}

.violet span 
{
    background-color: rgba(84, 46, 90, 0.66);     
}

.vert span 
{
    background-color: rgba(8, 110, 25, 0.66);     
}